/* src/styles/dark.css */

[data-theme="dark"] {

  /* --------------------------------
     MAIN COLORS
  -------------------------------- */

  --background: #09090b;

  --surface: #18181b;

  --surface-soft: #27272a;

  --primary: #60a5fa;

  --primary-dark: #3b82f6;

  --primary-soft: #172554;


  /* --------------------------------
     NORMAL MODE
  -------------------------------- */

  --normal: #4ade80;

  --normal-dark: #22c55e;

  --normal-soft: #052e16;


  /* --------------------------------
     EMERGENCY MODE
  -------------------------------- */

  --emergency: #ef4444;

  --emergency-dark: #dc2626;

  --emergency-soft: #3f0d0d;


  /* --------------------------------
     TEXT
  -------------------------------- */

  --text: #f8fafc;

  --text-secondary: #e4e4e7;

  --muted: #a1a1aa;

  --muted-light: #71717a;


  /* --------------------------------
     BORDER
  -------------------------------- */

  --border: #3f3f46;

  --border-light: #27272a;


  /* --------------------------------
     STATUS
  -------------------------------- */

  --success: #4ade80;

  --warning: #fbbf24;

  --danger: #ef4444;


  /* --------------------------------
     SHADOW
  -------------------------------- */

  --shadow:
    0 10px 30px
    rgba(0, 0, 0, 0.35);

  --shadow-small:
    0 4px 12px
    rgba(0, 0, 0, 0.25);
}