PORT=your_value_here
MONGO_URI=your_value_here
JWT_SECRET=your_value_here
JWT_EXPIRES_IN=your_value_here
GOOGLE_MAPS_API_KEY=your_value_here
ANTHROPIC_API_KEY=your_value_here
CLIENT_URL=your_value_here
XAI_API_KEY=your_value_here  